/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style général pour le header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0073e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le logo */
header .logo img {
    width: 70px;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

/* Style général pour la navigation */
nav {
    margin-left: auto;
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: white;
}

nav ul li a:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

/* Style pour la liste déroulante */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(48, 101, 225);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-content li a:hover {
    background-color: #ddd;
    color: blue;
}

/* Affiche la liste déroulante au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Services Section */
.services {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.services h2 {
    margin-top: 0;
}

/* Section Styling */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.responsive {
    width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Footer Styling */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: #ffffff;
}

/* Contact Section */
.contact {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    margin-top: 0;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.contact form button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: darkblue;
}

/* Styles for the specialities section */
.specialities {
    padding: 20px;
}

.specialities h2 {
    text-align: center;
    margin-bottom: 20px;
}

.speciality {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.speciality h3 {
    margin-top: 0;
}

.speciality ul {
    list-style-type: none;
    padding: 0;
}

.speciality ul li {
    margin-bottom: 5px;
}

.appointment-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.appointment-button:hover {
    background-color: #0056b3;
}

/* Styles for gender selection */
.gender-selection {
    display: flex;
    gap: 10px;
    align-items: center;
}

.gender-selection input[type="radio"] {
    display: none;
}

.gender-selection label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.gender-selection input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: #fff;
}

.gender-selection label i {
    font-size: 1.2em;
}

/* Styles pour la section rendez-vous */

form {
    max-width: 600px;
    margin: 30px auto; /* Ajustement de la marge */
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1f37c2; /* Changement de couleur */
    text-align: center;
    margin-top: 30px; /* Maintien de la marge */
}

label {
    display: block;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0073e6;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #005bb5;
}



/* Styles pour la section administration */
.admin-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-section h2 {
    margin-top: 0;
}

.admin-roles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.role {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.role img {
    width: 100px;
    height: auto;
}

.role h3 {
    margin-top: 10px;
}

.role p {
    margin: 10px 0;
}

.admin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #005bb5;
}
/* Styles pour la section administration */
.admin-section, .doctor-section, .assistant-section, .billing-section, .patient-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-section h2, .doctor-section h2, .assistant-section h2, .billing-section h2, .patient-section h2 {
    margin-top: 0;
}

.admin-roles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.role {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.role img {
    width: 100px;
    height: auto;
}

.role h3 {
    margin-top: 10px;
}

.role p {
    margin: 10px 0;
}

.admin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border: 1px solid transparent; /* Ajoutez une bordure */
}

/* Footer Styling */
footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}


h1, h2 {
    color: #416aef;
}